<section class="container clearfix">
<button type="button" class="btn btn-dark ml-3 mb-3" data-toggle="modal" data-target="#exampleModalScrollable">
  <a>How to</a>
</button>
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">How to</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center mt-3">育児支援サイト「makua(マクア)」へようこそ。</p>
        <p class="text-center">このWEBサイトは、育児における悩みや不安を共有、相談し解決したり</p>
        <p class="text-center">あなたのとっておきの情報やスキルを発信する事ができます。</p>
        <p class="text-center">また、子供が成長したなどの理由で不要になったベービーカーやおもちゃ、</p>
        <p class="text-center">服などをギフトとして、あなたと同じパパ、ママに譲る事も可能です。</p>
        <p class="text-center">日本を育児先進国へ。</p>
        <p class="about1">Gifts</p>
        <p class="pl-2">不要になった育児アイテムを必要としている方に譲ったり、あなたが必要なら譲り受ける事ができます。</p>
        <p class="pl-2">新規にGiftを投稿し、また編集、削除ができます。</p>
        <p class="pl-2">一覧、詳細の閲覧。コメントができます。</p>
        <p class="pl-2">気になるアイテムがありましたら、ユーザとDMで直接やりとりができます。</p>
        <p class="pl-2">・image　アイテムの写真　・item_name　アイテムの種類(例：ベビーカー、服)</p>
        <p class="pl-2">・status　状況(Yet：未お譲り　Done：お譲り済)　・title、本文</p>
        <p class="pl-2">・item_name_search　気になるアイテムの種類で検索してみて下さい。</p>
        <p class="about1">Posts</p>
        <p class="pl-2">育児における悩みや不安の共有、相談、またそれらを解決。情報やスキルを発信する事ができます。</p>
        <p class="pl-2">新規にPostを投稿し、また編集、削除ができます。</p>
        <p class="pl-2">一覧、詳細の閲覧。コメントができます。</p>
        <p class="pl-2">気になる投稿がありましたら、お気に入り(ブックマーク)に登録する事ができます。</p>
        <p class="pl-2">・image　関連の写真　・#tag　タグ(近日、実装予定)</p>
        <p class="pl-2">・fav　お気に入り(ブックマーク)機能　・title、本文</p>
        <p class="pl-2">・fuzzy_search　気になる単語で検索してみて下さい。</p>
        <p class="about1">My page(User page)</p>
        <p class="pl-2">あなた専用のページです。</p>
        <p class="pl-2">ユーザ情報の編集(name:ニックネーム　image:あなたのイメージ)、退会ができます。</p>
        <p class="pl-2">・my Gifts　あなたの投稿したGift一覧　・my Posts　あなたの投稿したPost一覧</p>
        <p class="pl-2">・favorite Posts　あなたのお気に入りのPost一覧　・all DM あなたの参加しているDM一覧</p>
        <p class="pl-2">また、User pageでは、そのユーザのGift一覧、Post一覧の閲覧ができます。</p>
        <p class="pl-2">Start DM、DM roomでそのユーザとDMを始める事ができます。</p>
        <p class="about1">最後に</p>
        <p class="pl-2">上記機能の内、GiftとPostの閲覧のみ会員登録(Sign up)、ログイン(log in)なしで可能です。</p>
        <p class="pl-2">ぜひ会員登録して、最大限このサイトを有効活用して下さい。</p>
        <p class="pl-2">About、How toをご確認頂き、誠にありがとうございます。</p>
      </div>
    </div>
  </div>
  </div>
  <h1 class="text-center", style="font-size: 160px; color: #333;">Welcome<br>to<br>makua</h1>
</section>
