<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div id="js-table-comment" class="table">
      <%= render "users/post_comments/comments", comments: comments, post: @post %>
    </div>
  </div>
</div>