/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

header {
	position: fixed;
	background-color: #333;
	color: white;
}

.headertop {
	display: flex;
	width: 100%;
}

main {
	padding-top: 60px;
}

body {
	background-color: #F2F2F2;
}

footer{
	// position: fixed;
	background-color: #333;
	text-align: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.box{
    background: #eee;
    height: 200px;
    margin-bottom: 100px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.index_content {
	display: flex;
}
.index_content_text {
	margin: 0 auto;
}



